

    .hameid-loader-overlay {
        width: 100%;
        height: 100%;
        background: url('../img/preloader.gif') center no-repeat #262626;
        z-index: 99999;
        position: fixed;
    }



/*Menu*/
#menu{

}
#menu li{
 
}


/*

   _____           _   _                 
  / ____|         | | (_)                
 | (___   ___  ___| |_ _  ___  _ __  ___ 
  \___ \ / _ \/ __| __| |/ _ \| '_ \/ __|
  ____) |  __/ (__| |_| | (_) | | | \__ \
 |_____/ \___|\___|\__|_|\___/|_| |_|___/
                                         
                                         
Plus fixed Menu with id #s-scroll

*/

#s-scroll{
  position: fixed; 
  top: 200; 
  right: 0;
  border: 1px solid green;
  z-index: 99;
}
#s-scroll a{
  padding: 0px 10px;
}
#s1{
  background: #262626;
}
#s2{
  background: #262626;
}
#s3{
  background: #EAEADF;
  padding: 50px 0px;
}
#s4{
  background: #262626;
  padding: 50px 0px;
}
#s5{
  background: #262626;
  padding: 50px 0px;
}
#s6{
  background: #EAEADF;
  padding: 50px 0px;
}
#s7{
  background: #262626;
  padding: 50px 0px;
}
#s8{
  background: #262626;
  padding: 50px 0px;
}


/*SUB-SECTIONS*/
#footer-menu{
  padding: 0px 0px 50px 0px;
}
#footer-menu li{
  margin: 20px 0px;
}
#footer-menu h3{
  margin: 30px 0px;
}


/*`--------------------------------------*/
#particles-js{
	height: 200px;
	width: 100%;
	
}
.brdr{
	border: 1px solid #fff;
}

#sct2{
	padding: 50px 75px;
}

.grid-container-s2 {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1em 1em;
  grid-template-areas: ". ." ". .";
}
h2 .sect-title {
	text-align: center;
}

.grid-container-s3 {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1em 1em;
  grid-template-areas: "b1 b2 b3 b4 b5" "b6 b7 b8 b9 b10" "b11 b12 b13 b14 b15";
}

.grid-container-s3 div{
	border: 1px solid #fff;
}



.my-container{
	height: 100%;
}

/*---------------------------------------------------------------------------*/


/*SECTION 3: MOBILE GRID FROM*/


/* Flex styles -------------------------------------------------*/
header {
  display: flex;
  align-items: center;
}

@media (min-width: 700px) {
 .leading {
    display: flex;
    align-items: center;
  }
}


/* Grid styles -------------------------------------------------*/
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
}


/* Generic styles ----------------------------------------------*/
body {
  font-family: 'Quicksand', sans-serif;
}

header {
  padding: 10px;
  font-size: 2em;
  color: white;
  background-color: #333;
}

.logo {
  height: 50px;
  margin-right: 20px;
}

.leading {
  height: 240px;
  margin-bottom: 30px;
  padding: 30px;
  color: white;
  background: url('https://cdn.glitch.com/a5121e34-96b3-4a70-8227-040c51e64fae%2Fcat.jpg?1509635989509') center #333 no-repeat;
  background-size: cover;
  color: white;
  text-shadow: 0px 0px 5px #000;
}

.leading-bigtext {
  margin-right: 60px;
  font-weight: bold;
  font-size: 24vw;
}

@media (min-width: 700px) {
  .leading-bigtext {
    font-size: 140px;
  }
}

.leading-text {
  max-width: 900px;
  font-size: 1.2em;
  line-height: 1.4em;
}

.cards {
  max-width: 960px;
  margin: 0 auto 30px;
}

article {
  position: relative;
}

.article-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.article-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}








/*Codepad animated logo*/
html,
body {
  height: 100%;
}

body {
  position: relative;
  background-color: #0f222b;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.codepad-logo, 
.codepad-logo::before, 
.codepad-logo::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.codepad-logo {
  width: 200px;
  height: 200px;
  margin: auto;
  color: #3498db;
  border-radius: 6px;
  box-shadow: inset 0 0 0 1px #3498db;
  transform: rotate(45deg);
}

.logo {
    background: url("https://dl.dropboxusercontent.com/s/r0n3iyiuhub6j1t/test-fill-01.svg?dl=0") no-repeat 50%/70%;
    width: 100%;
    height: 100%;
    transform: rotate(-45deg);
}

.codepad-logo::before, 
.codepad-logo::after {
  content: '';
  z-index: -1;
  margin: -5%;
  box-shadow: inset 0 0 0 2px;
  border-radius: 6px;
  animation: clipIt 8s linear infinite;
}
.codepad-logo::before {
  animation-delay: -4s;
}

@keyframes clipIt {
  0%, 100% { clip: rect(0px, 220px, 2px, 0px); }
  25%      { clip: rect(0px, 2px, 220px, 0px); }
  50%      { clip: rect(218px, 220px, 220px, 0px); }
  75%      { clip: rect(0px, 220px, 220px, 218px); }
}
